/* styles.css */
body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #E6E9F0; 
}

h3 {
    margin-top: 1rem;
}

.half {
    width: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem; 
    background-color: #4A5568;
    color: white;
    margin-top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0.5rem 4rem 0.5rem 4rem;
    
    justify-content: space-evenly;
    gap: 20px;
}
table { 
    width: 50%; 
    border-collapse: collapse; 
    margin-top: 20px;  
}
th, td { 
    padding: 8px; 
    border: 1px solid #ddd; 
    text-align: left; 
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
th { background-color: #4A5568; color: white; }
form { margin-top: 20px; }
input, button { margin: 5px 0; padding: 5px; }

.card-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: right;
    width: 50%;
    margin-top: 0.5rem;
}
.card .metric {
    font-size: 40px;
    font-weight: bold;
}

.card p {
    margin: 0;
    font-size: 15px;
}

.card h3 {
    margin-top: 0;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.step-links {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.step-links a {
    color: #4A5568;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.step-links a:hover {
    background-color: #E6E9F0;
}

.step-links .current {
    color: #4A5568;
    font-weight: bold;
    padding: 8px 12px;
}

/* Disabled pagination links */
.step-links a.disabled {
    color: #a0aec0;
    pointer-events: none;
}

.graph-container {
    min-height: 240px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem, 0, 1rem, 0;
    margin: 1rem 0 1rem 0;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}