{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Run Tracker{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <h2>Run Tracker</h2>
        {% comment %} <div>
            <a href="{% url 'charts' %}">View Charts</a>
        </div> {% endcomment %}
    </div>

    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
