{% extends 'base.html' %}

{% block content %}
<div>
    <div class="container">
        <div id="add-run-form" class="half">
            {% include 'forms/add_run.html' %}
        </div>
        <div class="card-container half">
            <div class="card" id="yearly-total"></div>
            <div class="card" id="weekly-total"></div>
        </div>
    </div>

    <div class="container">
        <div class="half">
            <div id="run-list" hx-get="{% url 'run_list' %}" hx-trigger="load"></div>
        </div>
        <div class="half">
            <h3> Graphs </h3>     
            {% include 'charts/yearly_chart.html' %}
            {% include 'charts/cumulative_distance.html' %}
            
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        htmx.ajax('GET', "{% url 'yearly_total' %}", '#yearly-total');
        htmx.ajax('GET', "{% url 'weekly_total' %}", '#weekly-total');
    });
</script>
{% endblock %}
